<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>
  <h1>Form</h1>
{% csrf_token %}
  <p><a href="Form">Go to form</a></p>
          <button onclick="window.location.href = 'Form';">Form</button>
  <form action="Form.html">
      </form>
   <script>
    function showForm() {
      var formContainer = document.querySelector('.form-container');
      formContainer.style.display = 'block';  // Display the form when the button is clicked
    }

    function submitForm(event) {
      // Prevent the default form submission behavior
      event.preventDefault();

      // Redirect to a new page after form submission
      window.location.href = "Form.html";
    }
  </script>

</body>
</html>